body {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), color-stop(40%, #090707));
  background-image: linear-gradient(180deg, #333333 0%, #090707 40%);
  color: white;
  width: 100%;
  margin: auto;
}

.navbar-brand {
  background-image: url(./img10/header__right.png);
  background-repeat: no-repeat;
}

.navbar__headar_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10%;
  width: 30%;
  gap: 2%;
}

.header_list {
  color: white;
}

.d-flex {
  height: 40px;
  width: 40%;
  border-color: aliceblue;
}

.d-flex > button {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  color: white;
  width: 100%;
  border-color: aliceblue;
}

.navbar-brand {
  width: 8%;
  color: white;
  height: 40px;
  text-align: center;
  margin-left: 10%;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  width: 914px;
  height: 335px;
  margin: auto;
  margin-top: 181px;
  font-family: "Aeonik";
  font-style: normal;
}
.container__title h1 {
  font-weight: 700;
  font-size: 65px;
  line-height: 78px;
  text-align: center;
}
.container__title h1 span {
  color: #3775ED;
}
.container__title .title__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.btn-left, .btn-right {
  width: 204px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid white;
  background: none;
  color: white;
  padding: 10px;
}

.btn-left:hover,
.btn-right:hover {
  background: #3775ED;
}

.btn-left {
  margin-right: 10px;
}

.btn-right {
  margin-left: 10px;
}

.wrapper {
  margin-top: 2%;
  background: none;
}

.card_wrapper {
  margin: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: none;
  margin-top: 5%;
}

#card1 {
  background: #C96408;
}

#card2 {
  background: #7937BB;
}

#card3 {
  background: #3775ED;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 277px;
  border: none;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.cards__title {
  font-size: 1.2rem;
  color: #E5E5E5;
  line-height: 2rem;
  margin: 0 auto;
  width: 80%;
  margin-top: 172px;
  text-align: center;
}

.cards__title h2 {
  font-size: 3rem;
}

.cards__title p {
  font-size: 1.2rem;
  color: #E5E5E5;
  line-height: 2rem;
}

.card__footer {
  height: 357px;
  width: 80%;
  background-color: #1a1919;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
}

.card__footer-top {
  font-family: "Aeonik";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.card__footer-bot {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  color: rgba(229, 229, 229, 0.5411764706);
  width: 45%;
  height: 62px;
  text-align: center;
}

#img_1 {
  position: relative;
  right: 70%;
  bottom: 40%;
}

#img_2 {
  position: relative;
  left: 40%;
  bottom: 70%;
}

#img_3 {
  position: relative;
  left: 100%;
  height: 60px;
  width: 60px;
  bottom: 50%;
}

#img_4 {
  position: relative;
  left: 125%;
  top: 60%;
}

#img_5 {
  position: relative;
  right: 130%;
  top: 200%;
}

#img_6 {
  position: relative;
  right: 100%;
  top: 350%;
}

#img_7 {
  position: relative;
  left: 12%;
  top: 340%;
}

#img_8 {
  position: relative;
  left: 65%;
  top: 300%;
}

.hr {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.gallery__container {
  width: 80%;
  margin: auto;
}

.gallery__top {
  margin-top: 52px;
}
.gallery__top h2 {
  margin-bottom: 20px;
}

.grid_network_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 7%;
}

.grid_network {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2%;
}

.grid__card1 {
  background-image: url(./img10/grid1.png);
  background-repeat: no-repeat;
  height: 304px;
  width: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid__card1 .grid__card-description1 {
  display: inline-block;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./img10/card_fon.png);
  padding-bottom: 5px;
}
.grid__card1 .grid__card-description1 p {
  display: block;
  padding-left: 5px;
  width: 100%;
}

.img_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin-bottom: 10px;
  background-image: url(./img10/card__measage.png);
  background-repeat: no-repeat;
  background-position-x: 225px;
  width: 100%;
  background-position-x: 228px;
}

.grid__card2 {
  background-image: url(./img10/grid2.png);
  background-repeat: no-repeat;
  height: 304px;
  width: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid__card2 .grid__card-description2 {
  display: inline-block;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./img10/card_fon.png);
  padding-bottom: 5px;
}
.grid__card2 .grid__card-description2 p {
  display: block;
  padding-left: 5px;
  width: 100%;
}

.img_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin-bottom: 10px;
  background-image: url(./img10/card__measage.png);
  background-repeat: no-repeat;
  background-position-x: 225px;
  width: 100%;
  background-position-x: 228px;
}

.grid__card3 {
  background-image: url(./img10/grid3.png);
  background-repeat: no-repeat;
  height: 304px;
  width: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid__card3 .grid__card-description3 {
  display: inline-block;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./img10/card_fon.png);
  padding-bottom: 5px;
}
.grid__card3 .grid__card-description3 p {
  display: block;
  padding-left: 5px;
  width: 100%;
}

.img_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin-bottom: 10px;
  background-image: url(./img10/card__measage.png);
  background-repeat: no-repeat;
  background-position-x: 225px;
  width: 100%;
  background-position-x: 228px;
}

.grid__card4 {
  background-image: url(./img10/grid4.png);
  background-repeat: no-repeat;
  height: 304px;
  width: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid__card4 .grid__card-description4 {
  display: inline-block;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./img10/card_fon.png);
  padding-bottom: 5px;
}
.grid__card4 .grid__card-description4 p {
  display: block;
  padding-left: 5px;
  width: 100%;
}

.img_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin-bottom: 10px;
  background-image: url(./img10/card__measage.png);
  background-repeat: no-repeat;
  background-position-x: 225px;
  width: 100%;
  background-position-x: 228px;
}

.grid__card5 {
  background-image: url(./img10/grid5.png);
  background-repeat: no-repeat;
  height: 304px;
  width: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid__card5 .grid__card-description5 {
  display: inline-block;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./img10/card_fon.png);
  padding-bottom: 5px;
}
.grid__card5 .grid__card-description5 p {
  display: block;
  padding-left: 5px;
  width: 100%;
}

.img_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin-bottom: 10px;
  background-image: url(./img10/card__measage.png);
  background-repeat: no-repeat;
  background-position-x: 225px;
  width: 100%;
  background-position-x: 228px;
}

.grid__card6 {
  background-image: url(./img10/grid6.png);
  background-repeat: no-repeat;
  height: 304px;
  width: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid__card6 .grid__card-description6 {
  display: inline-block;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./img10/card_fon.png);
  padding-bottom: 5px;
}
.grid__card6 .grid__card-description6 p {
  display: block;
  padding-left: 5px;
  width: 100%;
}

.img_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin-bottom: 10px;
  background-image: url(./img10/card__measage.png);
  background-repeat: no-repeat;
  background-position-x: 225px;
  width: 100%;
  background-position-x: 228px;
}

.gallery__bottom {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.gallery__button_blok {
  margin: auto;
  width: 20%;
  text-align: center;
}

.gallery__button {
  color: white;
  width: 100%;
  height: 50x;
  background: #3775ED;
  border-radius: 5px;
  width: 65%;
  height: 50px;
}

.hr2 {
  width: 100%;
  margin: auto;
  margin-top: 90px;
}

.message {
  width: 80%;
  margin: auto;
}

.meassage__top_title {
  margin: auto;
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.message__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3%;
  row-gap: 25px;
}

.meassage__top_text {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #E5E5E5;
}

.meassage__top {
  margin: auto;
  text-align: center;
}

.message__center_main {
  width: 90%;
  padding-left: 5%;
  padding-top: 5%;
}

.message__center_inner {
  background: #1A1919;
  border-radius: 5px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message__center_image {
  background-image: url(./img10/message1.png);
  background-repeat: no-repeat;
  padding-left: 15%;
  background-position-y: 40%;
  background-position-x: 7%;
}

.message__center_image2 {
  background-image: url(./img10/message2.png);
  background-repeat: no-repeat;
  padding-left: 15%;
  background-position-y: 40%;
  background-position-x: 7%;
}

.message__center_image3 {
  background-image: url(./img10/message3.png);
  background-repeat: no-repeat;
  padding-left: 15%;
  background-position-y: 40%;
  background-position-x: 7%;
}

.message__center_image4 {
  background-image: url(./img10/message4.png);
  background-repeat: no-repeat;
  padding-left: 15%;
  background-position-y: 40%;
  background-position-x: 7%;
}

.message__center_image5 {
  background-image: url(./img10/message5.png);
  background-repeat: no-repeat;
  padding-left: 15%;
  background-position-y: 40%;
  background-position-x: 7%;
}

.message__center_image6 {
  background-image: url(./img10/message6.png);
  background-repeat: no-repeat;
  padding-left: 15%;
  background-position-y: 40%;
  background-position-x: 7%;
}

.message__center_image7 {
  background-image: url(./img10/message7.png);
  background-repeat: no-repeat;
  padding-left: 15%;
  background-position-y: 40%;
  background-position-x: 7%;
}

.message__center_image8 {
  background-image: url(./img10/message8.png);
  background-repeat: no-repeat;
  padding-left: 15%;
  background-position-y: 40%;
  background-position-x: 7%;
}

.message__center_image9 {
  background-image: url(./img10/massage9.png);
  background-repeat: no-repeat;
  padding-left: 15%;
  background-position-y: 40%;
  background-position-x: 7%;
}

.message__bottom {
  width: 95%;
  background-image: url(./img10/message__bottom.png);
  height: 480px;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.bottom_blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  background-color: #3775ED;
  margin: auto;
  height: 291px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  gap: 10%;
}

.bottom__top {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

#buttom__black {
  color: #f8f9fa;
  background-color: #090707;
  border-radius: 5px;
  border: none;
}

.bottom_dno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7%;
}

.bottom__midle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
}